header, main, aside{
    font-family: "DejaVu Sans", sans-serif;
}

header h1{
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Calibri", sans-serif;
    font-size: 56px;
    color: #424242;
    padding: 7px;
    border-bottom: 3px solid #212121;
}

header h2{
    font-size: 26px;
    font-style: italic;
    color: #31b2ba;
}

header h3{
    font-size: 12px;
}

header b{
    color: #31b2ba;
}

header img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 40px 40px 25px 60px;
}

.heading-texto{
    float: right;
    text-align: center;
    line-height: 2.5em;
    margin: 60px 400px 40px 10px;
}

main h1{
    text-transform: uppercase;
    font-size: 30px;
    color: #31b2ba;
    border-bottom: 3px solid #212121;
    margin: 10px 20px;
    padding: 8px;
}

main h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin: 5px 20px;
}

main h3{
    font-size: 12px;
    margin-bottom: 10px;
}

main h4{
    font-size: 10px;
    margin: 5px 20px;
}

main img{
    width: 180px;
    height: 50px;
    display: inline-block;
}

.trabalho .body-cursos, .universidade .body-cursos{
    float: right;
    margin-right: 20px;
    width: 35%;
}

.trabalho .body-nome-local, .universidade .body-nome-local{
    display: inline-block;
}

.trabalho, .universidade{
    display: block;
    margin-bottom: 60px;
}

.body-cursos h3{
    font-weight: bold;
}
.point{
    color: #31b2ba;
    display: inline;
}

p{
    font-size: 11px;
    margin-bottom: 10px;
}

.skills h2{
    text-transform: none;
    font-weight: normal;
    display: inline-block;
}

.skills img{
    width: 180px;
    height: 13px;
}

.skills-right{
    float: right;
    display: inline-block;
    margin-right: 400px;
}

.skills-left{
    float: left;
    display: inline-block;
}

.skill-level{
    margin: 40px 0px;
}
aside h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #31b2ba;
    color: #ffffff;
    padding: 2px;
    width: 80%;
    height: 100%;
    margin: 30px 20px;
}

aside img{
    width: 15px;
    height: 15px;
    display: inline-block;
}

aside p{
    margin: 10px 20px 10px 20px;
    width: 80%;
    display: inline-block;
}

aside li p{
    margin: 10px 0px 10px 20px;
}

aside .point{
    margin-left: 25px;
    display: inline-block;
}

aside{
    float: left;
    width: 24%;
}

main{
    float: right;
    width: 74%;
    margin: 20px 20px 20px 0px;
}

.linha-vertical{
    border-left: 3px solid #212121;
    height: 770px;
    float: left;
}